name: C++

on:
  push:
    branches:
      - master
    paths:
      - '**/*.cpp'
      - '**/*.hpp'
  pull_request:
    paths:
      - '**/*.cpp'
      - '**/*.hpp'

env:
  BUILD_TYPE: Release

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Ubuntu dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libncurses5-dev libboost-dev libboost-regex-dev clang-format iwyu
    - name: Check clang-format
      working-directory: .
      run: ./tools/check_clang_format.sh
    - name: Set up GCC
      uses: egor-tensin/setup-gcc@v1
      with:
        version: 11
        platform: x64
    - name: Bazel build
      working-directory: .
      run: bazelisk test //...
