name: Python

on:
  push:
    branches:
      - master
    paths:
      - '**/*.py'
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v4
      with:
        python-version: '3.10'
    - name: Install dependencies
      run: |
        pip3 install --upgrade pip setuptools wheel
        pip3 install -r requirements.txt
    - name: Flake8 linting
      run: |
        for folder in year20*; do
          if [ -d "$folder" ]; then
            echo "Linting folder: $folder"
            python3 -m flake8 "$folder" --count --select=E9,F63,F7,F82 --ignore=E203,402 --show-source --statistics
            python3 -m flake8 "$folder" --count --exit-zero --max-complexity=10 --ignore=E203,E402,W503 --statistics
          fi
        done
    - name: Black code format
      run: |
        for folder in year20*; do
          if [ -d "$folder" ]; then
            echo "Running Black on folder: $folder"
            python3 -m black "$folder" --check --line-length 79
          fi
        done
    - name: Python unit tests
      run: |
        for folder in year20*; do
          if [ -d "$folder" ]; then
            echo "Running python test on folder: $folder"
            python3 -m pytest $(find "$folder" -name "*.py")
          fi
        done

